@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hello Section */
#hello{
background-image: url(./img/background.png);
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;
}
#hello::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hello h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#hello .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease ;
    transition-property: background-color,color;
}
#hello .cta:hover {
    color: white;
    background-color: crimson;
}
/* End of Hello Section*/